head
    title #{title}
    | <style type="text/css">
    include ../../public/stylesheets/style.css
    | </style>
    | <style type="text/css">
    include ../../public/bootstrap/css/bootstrap.min.css
    | </style>
    | <style type="text/css">
    include ../../public/bootstrap/css/bootstrap-responsive.min.css
    | </style>
    | <style type="text/javascript">
    include ../../public/flot/excanvas.min.js
    | </style>
    | <style type="text/javascript">
    include ../../public/flot/jquery.js
    | </style>
    | <style type="text/javascript">
    include ../../public/flot/jquery.flot.js
    | </style>

    script(src = 'http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')