head
  title #{title}

  script(src= 'http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  
  script(type="text/javascript" ,language="javascript" , src="javascripts/flot/jquery.js")
  script(type="text/javascript" ,language="javascript" , src="javascripts/flot/jquery.flot.js")
  script(type="text/javascript" ,language="javascript" , src="javascripts/flot/excanvas.min.js")
  script(type="text/javascript" ,language="javascript" , src="javascripts/flot/excanvas.js")
  script(type="text/javascript" ,language="javascript" , src="javascripts/flot/jquery.flot.time.js")

  include ../../public/stylesheets/style.css
  include ../../public/bootstrap/css/bootstrap.min.css
  include ../../public/bootstrap/css/bootstrap-responsive.min.css
  