html
  head
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
       
    script
      $(function() {
      $.getJSON('timeline.json', function(data) {
      $.each(data, function(i, f) {
      var tblRow = "<tr>" + "<td>" +
      f.user.name + "</td>" +
      "<td>" + f.text + "</td>" +
      "<td>" + f.created_at + "</td>" +
      "<td>" + f.user.location + "</td>" + "</tr>"
      $(tblRow).appendTo("#userdata tbody");
      });
      });
      });
  body
    div
      div
        table#userdata(border='1')
          thead
            th User Name
            th Tweet
            th Time
            th Location
          tbody
