doctype html
html(lang='en')
  include ../includes/head
  body
    .wrapper
      include ../includes/header
      .container
        .main-content
          .main-head
            block main
          block content
      .push
include ../includes/footer
