!!! 5
head
    title Improwised | Twitter App 
  body
    table(align='center')
      tr
        td
          a(href='/auth/twitter') Improwised Twitter Client
      tr
        td
          a(href='/auth/twitter')
            img(src='../images/sign-in-with-twitter-gray.png')
