doctype html
head
  
  | <style type="text/css">
  include ../public/bootstrap/css/bootstrap.min.css
  | </style>
  | <style type="text/css">
  include ../public/bootstrap/css/bootstrap-responsive.min.css
  | </style>

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')

  title Improwised | Twitter App 
  body
    table(align='center')
      tr
        td Improwised Twitter Statistics
      tr
        td
          a(href='/auth/twitter').btn  Click Here
